AppPythonYOLO_OCR/ffmpeg/bin/*.exe filter=lfs diff=lfs merge=lfs -text
AppPythonYOLO_OCR/*.pt filter=lfs diff=lfs merge=lfs -text
AppPythonYOLO_OCR/*.7z filter=lfs diff=lfs merge=lfs -text
AppPythonYOLO_OCR/*.zip filter=lfs diff=lfs merge=lfs -text
AppPythonPlateGatePC/*.zip filter=lfs diff=lfs merge=lfs -text

*.md text eol=lf
*.typ text eol=lf
*.svg text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.ipynb text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.pptx binary
*.doc binary
*.docx binary
*.7z binary
*.zip binary
